.personal-profile{
width: 80%;
}
.titlePersonalProfile{
     margin: 50px 70px 10px 70px;
     display: inline;
}
.wrapperDiv{
    width:100%;
}
h2.tableTitle{
    float:left;
}
a.editButton{
float: right;

}

.personalProfileContent{  
    width: 80%;
    padding: 5%;
    display: inline-flex;
     margin: 50px 70px 10px 70px;
     box-shadow: 0px 35px 50px rgba(0,0,0,0.3);
}