
.formDiv{
    display: inline-flex;
    border: thin solid lightgrey;
    width:80%;
    margin: 5% 10% 5%% 10%;
    // justify-content: center;
    
}

.formElement{
    display: flex;
    margin: 15px;
}